extends layout/_master
block content
  article
    h1 Paris
    p
      | Paris is the capital and most populous city of France, with an administrative-limits area of 105 square kilometres and a 2015 population of 2,229,621.
    p
      | Paris is especially known for its museums and architectural landmarks: the Louvre was the most visited art museum in the world in 2016, with 7.4 million visitors.