extends layout/_master
block content
  article
    h1 Tokyo
    p
      | Tokyo is the capital of Japan and one of its 47 prefectures. Formerly known as Edo, it has been the de facto seat of government since 1603 when Shogun Tokugawa Ieyasu made the city his headquarters
    p
      | Tokyo is often referred to as a city, but is officially known and governed as a "metropolitan prefecture", which differs from and combines elements of a city and a prefecture, a characteristic unique to Tokyo.