doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='mystyle.css')
  body
    .flex-container
      header
        h1 City Gallery
      nav.nav
        ul
          li
            a(href='#') London
          li
            a(href='#') Paris
          li
            a(href='#') Tokyo
      block content
      footer Copyright &copy; uadec.com.mx
      script(src="bundle.js")
